body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}
button:focus{
	outline: none !important;
    box-shadow: none !important;
}
.calendar-layout-wrapper {
	display: flex;
    width: 100%;
    padding: 30px 0;
}
.calendar-layout-wrapper .calendar-details-block{
	max-width: 500px;
    position: relative;
    width: 100%;
    display: block;
}
@media (max-width: 991px) {
	.calendar-layout-wrapper .calendar-details-block{
        max-width: 350px;
        display: none;
    }
}
.calendar-details-block .calendar-event-details-block{
    padding: 15px;
    max-width: 300px;
    margin: auto;
    width: 100%;
    height: 90vh;
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
.calendar-details-block .calendar-event-details-block::-webkit-scrollbar {
    display: none;
}
.calendar-details-block .calendar-event-details-block .calendar-event-list-block{
    margin-bottom: 35px;
}
.calendar-details-block .calendar-event-details-block .calendar-event-list-block span{
    font-size: 15px;
    font-weight: normal;
    color: #1EC5F7;
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
}
.calendar-details-block .calendar-event-details-block .calendar-event-list-block span.active::before{
    opacity: 1;
}
.calendar-details-block .calendar-event-details-block .calendar-event-list-block.event-green span{
    color: #65C51B;
}
.calendar-details-block .calendar-event-details-block .calendar-event-list-block.event-green span::before{
    background: #65C51B; 
}
.calendar-details-block .calendar-event-details-block .calendar-event-list-block.event-green span::after{
    background: #65C51B;
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    right: -25px;
    top: 2px;
    border-radius: 100px;
    border: none;
}
.calendar-details-block .calendar-event-details-block .calendar-event-list-block h5{
    font-size: 22px;
    font-weight: 600;
    color: #112C63;
    margin: 0;
    margin-bottom: 20px;
    max-width: 200px;
    width: 100%;
}
.calendar-details-block .calendar-event-details-block .calendar-event-list-block h6{
    font-size: 15px;
    font-weight: 600;
    color: #112C63;
    margin: 0;
    margin-bottom: 10px;
}
.calendar-details-block .calendar-event-details-block .calendar-event-list-block p{
    font-size: 14px;
    font-weight: normal;
    color: #112C63;
    margin: 0;
    margin-bottom: 10px;
}
.calendar-details-block .calendar-event-details-block .calendar-event-list-block p a{
    font-size: 14px;
    font-weight: normal;
    color: #112C63;
    margin: 0;
    display: inline-block;
    text-decoration: none;
}
.calendar-layout-wrapper .calendar-details-block::before{
    position: absolute;
    content: '';
    right: 0;
    height: 100%;
    width: 1px;
    bottom: 0;
    top: 0;
    background: #e4e4e4;
}
.calendar-layout-wrapper .calendar-section-wrapper{
	flex: 1;
    padding: 0 15px;
}
.calendar-block .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button-primary{
	background: #4F6185;
	border-color:#4F6185;
}
.calendar-block .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button-primary:hover{
	background: #112C63;
	border-color:#112C63;
}
.calendar-block .fc-header-toolbar .fc-toolbar-chunk .fc-today-button{
	background: #112C63;
    font-weight: 400;
    outline: none;
    box-shadow: none;
}
.calendar-block .fc-header-toolbar .fc-toolbar-chunk .fc-toolbar-title{
	font-size: 16px;
    font-weight: 500;
    color: #112d63;
}
.calendar-block .fc-view-harness .fc-daygrid table{
	border: none;
}
.calendar-block .fc-view-harness .fc-daygrid table thead tr th{
	border: none;
    padding-bottom: 15px;
}
.calendar-block .fc-view-harness .fc-daygrid table thead tr th .fc-scroller-harness .fc-scroller table thead tr th .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion {
	padding: 0;
    font-size: 15px;
    color: #adadad;
    font-weight: 500;
    text-transform: uppercase; 
}

.fc .fc-daygrid-day-top {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
}
.calendar-block .fc-view-harness .fc-daygrid table tbody tr td{
	border: none;
    position: relative;
    width: 100%;

}

.calendar-block .fc-view-harness .fc-daygrid table tbody tr td.fc-day-today{
	background: transparent;
	color: white;
	position: relative;
}

.calendar-block .fc-view-harness .fc-daygrid table tbody tr td .fc-scroller-harness .fc-scroller .fc-daygrid-body table tbody tr td .fc-daygrid-day-frame{
	justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    min-height: 80px;
    flex-direction: column;
}

.calendar-block .fc-view-harness .fc-daygrid table tbody tr td .fc-scroller-harness .fc-scroller .fc-daygrid-body table tbody tr td .fc-daygrid-day-frame .fc-daygrid-day-top .fc-daygrid-day-number{
	text-decoration: none !important;
}

.calendar-block .fc-view-harness .fc-daygrid table tbody tr td .fc-scroller-harness .fc-scroller .fc-daygrid-body table tbody tr{
	position: relative;
}
.fc-daygrid-event-harness:not(.fc-daygrid-event-harness-abs) {
    float: left;
}
.single-day-event{
    background: #FFAB32;
    height: 6px;
    bottom: 20px;
    width: 6px;
    border-radius: 10px;
    right: 0;
    left: 0;
    bottom: 0;
}


.calendar-block .fc-view-harness .fc-daygrid table tbody tr td .fc-scroller-harness .fc-scroller .fc-daygrid-body table tbody tr td .fc-daygrid-day-frame .fc-daygrid-day-events .fc-daygrid-day-bottom{
    margin-top: 0 !important;
}
.calendar-block .fc-view-harness .fc-daygrid table tbody tr td .fc-scroller-harness .fc-scroller .fc-daygrid-body table tbody tr td .fc-daygrid-day-frame .fc-daygrid-day-events .fc-daygrid-event-harness .fc-daygrid-event{
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    border: none;
    height: 6px;
    overflow: hidden;
}
.calendar-block .fc-view-harness .fc-daygrid table tbody tr td .fc-scroller-harness .fc-scroller .fc-daygrid-body table tbody tr td .fc-daygrid-day-frame .fc-daygrid-day-events .fc-daygrid-event-harness .fc-daygrid-event .fc-event-main {
    display: none;
}
.calendar-block .fc-view-harness .fc-daygrid table tbody tr td.fc-day-today::before {
    position: absolute;
    content: '';
    width: 50px;
    height: calc(100% - 14px);
    background: #112C63;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    border-radius: 8px;
    z-index: -1;
}
.calendar-block .fc-view-harness .fc-daygrid table tbody tr td.clicked-day::before {
    position: absolute;
    content: '';
    width: 50px;
    height: calc(100% - 14px);
    border:2px solid #112C63;
    background: transparent;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    border-radius: 8px;
    z-index: -1;
} 
.calendar-block .fc-popover{
    border-color:#e7e7e7;
}
.calendar-block .fc-popover .fc-popover-header {
    padding: 10px; 
}
.calendar-block .fc-popover .fc-popover-header .fc-popover-title{
    font-size: 14px;
    color: #112d63; 
}
.calendar-block .fc-popover-body .fc-daygrid-event-harness a{
    border: none;
    width: 100%;
    display: block;
    padding: 4px;
    font-size: 12px;
    margin-bottom: 4px;
}
.calendar-block .fc-popover-body .fc-daygrid-event-harness:last-child a{
    margin-bottom: 0px;
}
.single-day-event {
    height: 6px !important;
}
